ul
{
list-style:none;
padding:0;
margin0;
}
ul li a
{
text-decoration:none;
font-family:georgia;
background-color:#000000;
color:#4da6ff;
display:block;
width:80px;
margin:5px;
text-align:center;
vertical-align:middle;
padding:5px;
height:25px;
line-height:25px;
border-radius:3px;

}
ul li a:hover
{
background-color:#a6a6a6;
color:black;
}


