body
	 {
background-image:url(holi.jpg);
	 }
	h1
	 {
	 margin-top:100px;
	 color:black;
	 font-size:60px;
	 text-align:center;
	}
	 p
	 {
	 border-bottom: 1px solid black;
	 border-top: 1px solid black;
	 font-size:25px;
	 font-style:italic;
	 margin-left:350px;
	 margin-right:350px;
	 color:black;
         cursor:default;<!--crosshair,move,hand,none,help,text,alias,pointer,progress,copy,cell,custum cursor can also be used using url-->
	}
.highlight
{
background-color:black;
color:white;
}
.yip
{
background-color:black;
color:white;
}
.image
{
 display:block;
	 margin-left:auto;
	 margin-right:auto;
         margin-top:80px;
	 padding:3px;
	 background-color:silver;
	 border-color:black;
	 border-width:thick;
	 border-style:ridge;
	 border-radius:20px;
	 

}
a:link
{
background-color:#6600ff;
}
a:visited
{
background-color:black;
}
a:hover
{
background-color:#0000e6;
cursor:crosshair;
}

